header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* header img {
  width: 50%;
  margin: -3em 0 2em 2em;
} */

header .logo-button,
.toggle-theme {
  border: none;
  background-color: transparent;
}

header .logo-button:hover,
.toggle-theme:hover {
  cursor: pointer;
  background-color: transparent;
}

.toggle-theme {
  text-align: right;
  max-width: 5%;
  margin-top: 2%;
}

.toggleDark {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.logo-image-wrapper {
  width: 275px;
  height: 250px;
  background-image: url("./img/yummy-logo.png");
  background-position: cover;
  background-repeat: no-repeat;
}

.dark-image-wrapper {
  background-image: url("./img/mond_dunkel.png");
  width: 100px;
  height: 100px;
  margin-top: 2%;
  background-position: cover;
}
