.detail-view-wrapper{
    margin: 3em auto;
}

.detail-view-wrapper img{
    border-radius: 16px;
    width: 80%;
    height: 500px;
    object-fit: cover;
}

.item-info {
    display: flex;
}


.detail-item-info{
    display: flex;
    margin-top: 5em;
    width: 80%;
    margin: 3em auto;
}

.detail-item-info-text{
    width: 75%;
    padding: 3em 2em;
}

.ingredients-sidebar{
    width: 25%;
    padding: 3em 1em;
    border: 1px solid #222;
    border-radius: 16px;
    text-transform: capitalize;
}

.ingredients-sidebar ul{
    list-style:none;
    text-align: left;
    line-height: 2.5rem;
}

.ingredients-sidebar button{
    margin-top: 2em;
}