.category-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 3em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2em;
}

.category-wrapper img {
  border-radius: 16px;
}

.category-card {
  border: 1px solid #222;
  border-radius: 16px;
  padding: 2em 1em;
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 425px;
}

.category-card:hover {
  -webkit-box-shadow: 4px 1px 21px -7px rgba(34, 34, 34, 0.4);
  box-shadow: 4px 1px 21px -7px rgba(34, 34, 34, 0.4);
  cursor: pointer;
}

.random-button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}

.category-wrapper > a {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.random-button a {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
