@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #222;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

img {
  max-width: 100%;
}

button {
  background-color: #febf00;
  padding: 1em 2em;
  border: none;
  border-radius: 25px;
}

button:hover {
  background-color: #fe8b00;
  cursor: pointer;
  color: #fff;
}

input[type="text"] {
  border-radius: 25px;
  border: 1px solid #222;
  padding: 1em 2em;
  margin-right: 1.5em;
}

h1 {
  font-size: 5.5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

h2,
h3 {
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #222;
}



.dark-background{

  .yummy-titel{
    color: #fff;
  }

  .detail-item-info-text p,
  .detail-item-info-text h2{
    color: #fff;
  }

  .category-card h2{
    color: #fff;
  }

  .category-card {
    border: 1px solid #fff;
  }
  
  .ingredients-sidebar {
    border: 1px solid #fff;
    color: #fff;
  }

  .ingredients-sidebar h3{
    color: #fff;
  }

}

@media screen and (max-width: 550px) {
  .detail-item-info{
    flex-direction: column;
    align-items: center;
  }

  .detail-item-info-text{
    width: 100%;
  }

  .ingredients-sidebar{
    width: 100%;
  }

  h1{
    font-size: 3rem;
  }

.search-wrapper input[type=text]{
    width: 100%;
    margin-bottom: 1em;
}

.divwrapper {
  width: 100px;
  height: 100px;
}

.detail-info-text-img-container{
  width: 100%
}

.detail-info-text-img-container{
  width: 100%;
  padding: 0;
}

}